
<div class="container">


  <div class="absoluteCenterSignUp">


<%= form_for(resource, :as => resource_name, :html => { :class => "login-form sign_in" }, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <img class="clipboard" src="http://designmodo.github.io/Flat-UI/images/icons/svg/mail.svg" alt="Clipboard">

  <h1>Sign up</h1>

 <div><%= f.label :name %><br />
  <%= f.text_field :name%></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up", :class => "btn btn-block btn-lg btn-primary bttn_width"%></div>

<%= render "devise/shared/links" %>

<% end %>
</div> 
<!-- end absolute center -->
</div>
