
<div class="banner">
   

    <div class="banner-head">
        Saas Wiki Collaboration Tool<br>


   

<div class="primary_signin">
            <% if current_user %>
 Hello <%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 <% else %>

 <div class="container">
<div class="span4"></div>
  <div class="span4">
   <%= button_to "Sign up", new_user_session_path, :class => "btn btn-block btn-lg btn-primary bttn_huge", :method => :get %>
   <% end %>

   </div>




<!-- Collumn 1 -->



<div class="row">
        <div class="span6">
          <div class="tile">
            <img src="http://designmodo.github.io/Flat-UI/images/icons/svg/retina.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Sign in</h3>
            <p>Create public Wikis with Markdown.</p>
  <%= button_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-large btn-block", :method => :get %>
          </div>
        </div>


        <div class="span6">
          <div class="tile">
            <img src="http://designmodo.github.io/Flat-UI/images/icons/svg/toilet-paper.svg" alt="Infinity-Loop" class="tile-image">
            <h3 class="tile-title">Subscribe</h3>
            <p>Create public or private.</p>
          <%= button_to "Sign up", new_user_registration_path, :class => "btn btn-primary btn-large btn-block", :method => :get %>
          </div>
        </div>

      <div class="row"> 
        <!-- end row -->

  </div>
 


<!-- Collumn 1 -->

 



</div>



</tbody>

</table> <!-- end table #2 -->



 </div> <!--end table wrapper-->


