

<%= form_for(wiki) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_area :body %>



<% if current_user && wiki.user == current_user && current_user.subscribed%>

  <%= f.label :collaborators %>

  <%= f.collection_select :collaborator_ids, @users, :id, :name, {}, {multiple: true, class: 'chosen-select'} %>

  <%= f.label :private %>
  <%= f.check_box :private %>

<% end %>



  <%= f.submit "Save", :class => 'btn btn-block btn-lg btn-success bttn_width' %>
<% end %>
</div>