<!-- end sidebar -->
<div id="layout" class="pure-g">

  <div class="sidebar">



   
        <div class="header">
            <hgroup>

            <% if current_user %>
<h1 class="brand-title"> Hello</h1> <%= current_user.email %>!</h1> <%= link_to "Sign out",destroy_user_session_path, :class => "visible", method: :delete %>
<% end %>


  


<h1 class="brand-title"><h1 id="notice"><%= notice %></h1>
                <h1 class="brand-title">A Sample Blog</h1>
                <h2 class="brand-tagline">Creating a blog layout sort of using Pure</h2>
            </hgroup>

            <nav class="nav">
                <ul>
                    <li class="nav-item">
                  
                    </li>
                    <li class="nav-item">
                      <div class="#">

                        


  <%= link_to "Wikis", wikis_path, :class=> "btn btn-block btn-lg btn-primary bttn_widthSecondary", :method => :get %>

  
                    </li>
                </ul>
            </nav>
        </div>
    </div>



<div class="content">

  <h2>Title:</h2>

  <%= markdown @wiki.title %>

 
  <h2>Text:</h2>
  <%= markdown @wiki.body %>



<%= button_to "Edit", edit_wiki_path(@wiki), :class => 'btn btn-block btn-lg btn-primary bttn_width',  :method => :get%>
<%= button_to "Delete Wiki", @wiki, :class => 'btn btn-block btn-lg btn-danger bttn_width' , method: :delete %>




</div>