<!DOCTYPE html>
<html>
<head>
  <title>Wikicollab</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>
<body>


<div class="collapse navbar-collapse">
  <li>
    <%= link_to "About ", about_path, :class => "nav-link" %>
</li>
<li>
    <%= link_to "Wikis ", wikis_path %>
</li>

 <% if current_user %>
 <li class="float">
 Hello <%= current_user.email %>!
</li>
 <li> 
 <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
 </li>
 <% else %>
 <li>
    <%= link_to "Premium Plan", new_subscription_path %>
</li>
</ul>
</div>
</div>

  <% end %>
 <% if flash[:notice] %>
<!-- DEVISE FLASH NOTICES -->
        <div class="alertify.alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      </div>

<%= yield %>

</body>
</html>
